/* ===== 16_Settings ===== */
.settings-form{
    position: relative;
}
.settings-title{
    border: 1px solid #d7d7d7;
}
.settings-title li{
    border-bottom: 1px solid #d7d7d7;
}
.settings-title li:last-child{
    border-bottom: none;
}
.settings-title li a{
    display: block;
    padding: 19px 14px 15px 49px;
    position: relative;
    font-size: 14px;
    /*transition: all 0.5s ease-out;*/
}
.settings-title li a:before{
    content: "\f105";
    font-family: FontAwesome;
    font-size:14px;
    color: #444444;
    position: absolute;
    left:25px;
    transform:translateX(-50%);
    z-index: 99;
}
.settings-title .active a{
    color: #37474f;
}
.settings-title .active a:before {
    color: #8bc34a;
 }
.settings-title .active a:after {
    background: #8bc34a;
    content: "";
    height: 2px;
    width: 100%;
    position: absolute;
    z-index: 1;
    bottom: -1px;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.settings-forms{
    border: 1px solid #d7d7d7;
}
.settings-forms .title{
    border-bottom: 1px solid #d7d7d7;
    padding: 20px 33px 15px 33px;
}
.settings-forms .form{
    margin-top: 33px;
}
.settings-forms .btn-row{
    padding-left: 257px;
    padding-bottom: 80px;
}
.select{
    max-width: 540px;
}
/* ===== 16_Settings end ===== */