/* ====== Aside ===== */

.aside-section{
    background-color: #fff;
    border: 1px solid #dedede;
    padding: 23px 27px 30px;
}
.aside-section + .aside-section{
    margin-top: 30px;
}
.aside-section .aside-section-title{
    font-size: 20px;
    font-weight: 700;
    color: #263238;
    padding-bottom: 15px;
    border-bottom: 1px solid #dde3e8;
}

/* ====== Aside end ===== */

/* ===== Breadcrumb ===== */

.breadcrumb {
    padding: 48px 0 42px 0;
}
ul.breadcrumb li {
    display: inline-block;
    font-size: 15px;
    font-weight: 400;
}
ul.breadcrumb li a{
    color: #b0bec5;
}
.breadcrumb>.active {
    color: #263238;
}
.breadcrumb>li a:focus,
.breadcrumb>li a:hover {
    color: #8bc34a;
}
.breadcrumb>li+li:before {
    padding: 0 5px;
    color: #8bc34a;
    content: "-";
}

/* ===== Breadcrumb end ===== */


/* ===== BUTTONS START ===== */

button:hover{
    cursor: pointer;
}

.btn-row{
    padding: 20px;
}
.btn{
    display: inline-block;
    font-size: 18px;
    border: none;
    font-weight: 400;
    text-align: center; 
}
.btn-xl{
    width: 270px;
    padding: 20px 0;
    font-size: 16px;
    -webkit-box-shadow: 0 1px 2px 0 rgba(69, 90, 100, 0.75);
    box-shadow: 0 1px 2px 0 rgba(69, 90, 100, 0.75);  
}
.btn-big{
    padding: 25px 43px;
}
.btn-mid{
    width: 205px;
    padding: 16px 0;
    font-size: 15px;
}
.btn-less-than-average{
    width: 125px;
    padding: 12px 0;
    font-size: 14px;
}
.btn-small{
    width: 105px;
    padding: 12px 0;
    font-size: 14px;
}
.btn-xs{
    padding: 8px 11px;
    font-size: 13px;
    border: 1px solid #d5d5d5;
}
.btn-registry{
    font-size: 12px;
    line-height: 32px;
    height: 32px;
    width: 72px;
    border-radius: 4px;
}
.btn-items{
    font-size: 16px;
    width: 163px;
    padding: 20px 0;
    -webkit-box-shadow: 0 1px 3px 0 rgba(204, 216, 228, 0.75);
    box-shadow: 0 1px 3px 0 rgba(204, 216, 228, 0.75);
}
.btn-green{
    background: #8bc34a;
}
.btn-green:hover{
    background: #e74c3c;
}
.btn-light-green{
    background: #95c85a;
}
.btn-light-green:hover{
    background: #e85647;
}
.btn-white{
    background: #fff;
}
.btn-white:hover{
    background: rgb(163, 162, 162);
    color: #fff;
}
.btn-blue{
    background: #42a5f5;
}
.btn-blue:hover{
    background: #76bef5;
}
.btn-dark-blue{
   background: #546e7a
}
.btn-dark-blue:hover{
    background: #769baa
}
.btn-red{
    background: #e74c3c;
}
.btn-red:hover{
    background: #8bc34a;
}
.btn-gray{
    background: #455a64;
}
.btn-gray:hover{
    background: #89989e;
}
.btn-transparent{
    background: rgba(0,0,0,0);
    border: 2px solid #fff;
}
.btn-transparent:hover{
    background: rgba(236, 65, 65, 0);
    border: 2px solid rgb(241, 4, 4);
    color: red;
}
.btn-bold{
    font-weight: 700;
}
.btn-medium{
    font-weight: 500;
}

.text-black{
    color: #000;
}
.text-dark{
    color: #263238;
}
.text-off-white{
    color: #f4f6f5;
}
.text-gray{
    color: #707070;
}

/* Font Awesome */

i.fa.fa-search.icon-btn,
i.fa.fa-shopping-cart.icon-btn,
i.fa.fa-heart-o.icon-btn,
i.fa.fa-pencil-square-o.icon-btn,
i.fa.fa-envelope-o.icon-btn{
    padding-right: 9px;
}

/* Font Awesome end */

/* ==== 04_all new items ==== */

.btn.btn-aside{
    font-size: 15px;
}

/* ==== 04_all new items end ==== */


/* ==== 09_product details ==== */

.btn.btn-price{
    font-size: 16px;
    -webkit-box-shadow: 0 1px 2px 0 rgba(69, 90, 100, 0.75);
    box-shadow: 0 1px 2px 0 rgba(69, 90, 100, 0.75);
    width: 100%;
}
.btn.btn-items.btn-live-preview{
   width: 138px;
}
.btn.btn-items{
    -webkit-box-shadow: none;
    box-shadow: none;
}

/* ==== 09_product details end==== */


/* ==== 16_setting_personal info, 21_upload products, 22_sales statement ==== */

.btn.btn-info-upd.btn-small,
.btn.btn-your-item-sub.btn-small{
    padding: 15px 0;
    font-size: 15px;
}
.btn.btn-your-item-sub.btn-small{
    width: 123px;
}
.btn.btn-your-sales-find.btn-xs{
    font-size: 12px;
    padding-left: 20px;
    padding-right: 20px;
}

/* ==== 16_setting_personal info, 21_upload products, 22_sales statement end ==== */

/* ==== 28_contact ==== */

.btn.btn-drop-us-message{
    width: 190px;
    font-size: 16px;
    padding: 20px 0;
    text-transform: uppercase;
}

/* ==== 28_contact end ==== */

/* ==== 29_404 ==== */

.btn.btn-was-not-found{
    width: 210px;
    padding: 22px 0;
    text-transform: uppercase;
    border-radius: 4px;
}

/* ==== 29_404 end ==== */

/* ===== PAGINATION ===== */

.pagination > li > a{
    display: inline-block;
    width: 43px;
    padding: 13px 0;
    font-size: 16px;
    font-weight: 500;
    color: #263238;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 2px rgba(205, 214, 222, .75);
    box-shadow: 0 1px 2px rgba(205, 214, 222, .75);
    text-align: center;
}
.pagination li + li{
   margin-left: 8px;
}  
.pagination > .active > a,
.pagination > li > a:focus,
.pagination > li > a:hover{
    background: #e74c3c;
    color: #fff;
}
.pagination{
    padding: 60px 0 0 0;
}

/* ===== PAGINATION END ===== */

/* ===== CARDS START ===== */

.card-example{
    padding: 50px 0;
}
.card .card-img{
    border: 1px solid #ebeeef;
    border-bottom: none;
    -webkit-box-shadow: 0 1px 2px rgba(205, 214, 222, 0.75);
    box-shadow: 0 1px 2px rgba(205, 214, 222, 0.75);
}
.card .card-img img{
    width: 100%;
}
.card .card-description-wrapper{
    background-color: #fff;
    border: 1px solid #ebeeef;
    border-top: none;
    -webkit-box-shadow: 0 1px 2px rgba(205, 214, 222, 0.75);
    box-shadow: 0 1px 2px rgba(205, 214, 222, 0.75);
}
.card:hover .card-img,
.card:hover .card-description-wrapper{
    -webkit-box-shadow: 0 16px 20px rgba(216, 216, 216, 0.75);
    box-shadow: 0 16px 20px rgba(216, 216, 216, 0.75);
}
.card .card-description .title{
    color: #263238;
    font-weight: 500;
}
.card .card-description .subtitle{
    color: #8bc34a;
    font-weight: 500;
    font-size: 14px;
}
.card .card-description .price{
    color: #263238;
    font-weight: 700;
    font-size: 20px;
}
.card .card-description-wrapper .card-text-info,
.card .card-author-info .comment-heart{
    display: none;
}
.card .card-author-info{
    border-top: 1px solid #e7ecf2;
}
.card .card-author-info .card-author img{
    width: 30px;
    height: 30px;
    margin-right: 12px;
}
.card .card-author-info .card-author span{
    font-size: 14px;
    color: #546e7a;
    font-weight: 500;
    text-overflow: ellipsis;
    overflow: hidden;
}
.card .card-author-info .product-rating{
    color: #ffa726;
    margin-right: 8px;
}
.card .card-author-info .product-rating li + li{
    margin-left: 3px;
}
.card .card-author-info .product-download{
    font-size: 12px;
}
.card .card-author-info .product-download::before,
.card .card-author-info .product-download::after{
    color: #b0bec5;
    content: "(";
}
.card .card-author-info .product-download::after{
    content: ")";
}

.card.large-card .card-description{
    padding: 25px 30px 15px;
}
.card.large-card .card-description .title{
    font-size: 18px;
    margin-bottom: 5px;
}
.card.large-card .card-author-info{
    padding: 20px 30px;
}

.card.medium-card .card-description{
    padding: 25px 20px 20px;
}
.card.medium-card .card-description .title{
    font-size: 16px;
    margin-bottom: 10px;
}
.card.medium-card .card-author-info{
    padding: 16px 20px;
}

.card.row-card{
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.card.row-card .card-img,
.card.row-card .card-description-wrapper{
    border: none;
}
.card.row-card .card-img img{
    width: 240px;
    height: 180px;
}
.card.row-card .card-description-wrapper{
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.card.row-card .card-description{
    padding: 25px 30px 15px;
}
.card.row-card .card-description .price{
    font-size: 30px;
}
.card.row-card .card-author-info{
    padding: 15px 30px;
    margin-top: auto;
}
.card.row-card .card-description-wrapper .card-text-info,
.card.row-card .card-author-info .comment-heart{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.card.row-card .card-description-wrapper .card-text-info{
    margin-top: 20px;
}
.card.row-card .card-author-info .comment-heart{
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: 30px;
}
.card.row-card .card-author-info .comment-heart .fa{
    color: #8bc34a;
    font-size: 16px;
    margin-right: 12px;
}
.card.row-card .card-author-info .comment-heart .heart{
    margin-left: 35px;
}
.card.row-card .card-author-info .comment-heart .comment::before,
.card.row-card .card-author-info .comment-heart .heart::before{
    content: "";
    display: inline-block;
    height: 11px;
    border-left: 1px solid #a0a8ad;
    margin-right: 17px;
}

.card.small-card .card-img{
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.card.small-card .card-description-wrapper{
    border-left: none;
    border-right: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.card.small-card .card-description{
    padding-top: 20px;
    padding-bottom: 18px;
}
.card.small-card .card-description .title{
    font-size: 16px;
    margin-bottom: 10px;
}
.card.small-card .card-description .price{
    font-size: 16px;
    display: inline-block;
    padding-top: 8px;
}
.card.small-card .card-author-info{
    border: none;
    padding-bottom: 28px;
}
.card.small-card .card-author-info .product-rating{
    margin-right: 0;
}

.card.small-row-card{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.card-small-row-card .card-img{
    border: none;
    border-bottom: 1px solid #ebeeef;
}
.card.small-row-card .card-description-wrapper{
    padding: 17px 15px 8px 20px;
    border: none;
    border-bottom: 1px solid #ebeeef;
}
.card.small-row-card .card-description .item-info{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.card.small-row-card .card-description .title{
    font-size: 14px;
    margin-bottom: 10px;
}
.card.small-row-card .card-description .subtitle{
    font-size: 12px;
}
.card.small-row-card .card-description .price{
    font-size: 18px;
    margin-top: 10px;
}

.card-items-slider .large-card .card-img a{
    height: 250px;
}
.card-items-slider .large-card {
    margin: 15px;
}

/* ===== CARDS END ===== */

/* === slick-dots === */

.multiple-items .slick-dots {
    bottom: -65px;
}
.multiple-items .slick-dots li {
    width: 16px;
    height: 16px;
    margin: 0 -1px;
}
.multiple-items .slick-dots li + li {
    margin-left: 7px;
}
.multiple-items .slick-dots li button {
    font-size: 0;
    width: 16px;
    height: 16px;
    padding: 0;
}
.multiple-items .slick-dots li button:before {
    font-size: 16px;
    color: #e8e8e8;
    opacity: 1;
    line-height: 1em;
    width: 16px;
    height: 16px;
}
.multiple-items .slick-dots li:hover button:before {
    color: #8bc34a;
}
.multiple-items .slick-dots li.slick-active button:before {
    color: #8bc34a;
    opacity: 1;
}

/* === slick-dots === */

/* ===== DEFAULT CLASSES START ===== */

.border-grey{
    border: 1px solid #dedede;
}
.bg-white{
    background-color: #fff;
}
.bg-dark{
    background-color: #263238;
}
.bg-light-grey{
    background-color: #f4f6f5;
}
.bg-green{
    background-color: #8bc34a;
}
.bg-red{
    background-color: #e74c3c;
}
.bg-yellow{
    background-color:#fcb322;
}
.bg-orange{
    background-color:#ef6c00;
}

.text-dark{
    color: #263238;
}
.text-red{
    color: #e74c3c;
}
.text-green{
    color:#8bc34a;
}
.text-blue{
    color:#546e7a;
}

/* ===== DEFAULT CLASSES END ===== */

/* ===== icon ===== */

.icon{
    display: inline-block;

}
/* ===== icon end ===== */

/* ===== carusel-item ===== */

.item-carousel{
    width: 25%;
    margin: 10px; 
}
/* ===== carusel-item end ===== */

/* ===== DEFAULT SECTION START ===== */
.default-section{
    padding:100px 0;
}
.default-bigger-section{
    padding:120px 0;
}
.default-smaller-section{
    padding:80px 0;
}
/* ===== DEFAULT SECTION END ===== */

/* ===== dropdown ===== */

.dropdown-container{
    position: relative;
}
.dropdown-container .dropdown-menu{
    position: absolute;
    display: none;
    z-index: 199;
    background-color: #fff;
    border: 1px solid #d3d3d3;
    -webkit-box-shadow: 0 16px 20px rgba(216, 216, 216, 0.75);
    box-shadow: 0 16px 20px rgba(216, 216, 216, 0.75);
    min-width: 160px;
}
.dropdown-container:hover .dropdown-menu{
    display: block;
}
/* ===== dropdown end ===== */

/* ===== header dropdawn  ===== */
.top-header .user-controls .dropdown-menu{
    top: 66px;
    left: -50px;
}
.top-header .notification .dropdown-menu{
    top: 65px;
    left: -230px;
}
.dropdown-menu .notifications-item {
    padding: 20px;
    min-width: 270px;
    border-bottom: 1px solid #e0e0e0;
}
.dropdown-menu .notifications-item:last-child {
    border-bottom: none;
}
.dropdown-menu .notifications-item .notification-text .theme-notification{
    font-size: 12px;
}
.dropdown-menu .notifications-item .notification-text .date-notification{
    font-size: 10px;
    color: #707070;
}
.dropdown-menu .notifications-item .notification-text .user-name-notification,
.product-name-notification{
    color: #263238;
    font-size: 12px;
    font-weight: bold;
}
.dropdown-menu .notifications-item .notification-text .price-notification{
    font-size: 16px;
    color: #000;
    font-weight: 500;
}
.dropdown-menu .notifications-item .circle-img{
    width: 50px; 
    height: 50px;
    margin-right: 20px;
}
.dropdown-menu .notifications-item .rectangular-img{
    width: 73px;
    height: 57px;
    margin-right: 15px;
}
.dropdown-menu .notifications-item .notifications-icon{
    margin-top: 5px;
    color: #b0bec5;
}
.dropdown-menu .notifications-item .notifications-icon:hover{
    color: #ef6c00;
}
.total-price span{
    font-size: 16px;
    font-weight: bold;
    color: #263238;
}
/* ===== dropdown user ===== */

.top-header .user-controls .dropdown-user {
    padding: 25px 20px;
} 
.top-header .user-controls .dropdown-user li + li{
    margin-top: 25px;
}
.top-header .user-controls .dropdown-user li i{
    color: #8bc34a;
    font-size: 14px;
    margin-right: 5px;
    line-height: .8;
}
.top-header .user-controls .dropdown-user li a{
    font-size: 12px;
    color: #546e7a;
}
/* ===== dropdown user end ===== */

/* ===== header dropdawn end  ===== */

/* ===== dropdown-categories ===== */

.dropdown-menu .dropdown-categories {
    padding: 25px 40px 30px 35px;
    min-width: 290px;
}
.dropdown-menu .dropdown-categories li + li{
    margin-top: 30px;
}
.dropdown-menu .dropdown-categories li i{
    margin-right: 10px;
    color: #8bc34a;
    font-size: 14px;
}

/* ===== dropdown-categories end ===== */

/* ===== color ===== */

.color-green{
    color: #84b743;
}

/* ===== color end ===== */

/* ===== btn dropdown ===== */

.btn-go-to-cart{
    margin-right: 6px;
}
.btn-cart{
    margin-top: 17px;
}

/* ===== btn dropdown end ===== */

/* ===== bg ===== */

.bg-orange{
    background-color: #ef6c00;
}
.bg-light-orange{
    background-color: #fcb322;
}
.bg-green{
    background-color: #95c85a;
}

/* ===== bg end ===== */

/* ===== HEADER START ===== */

.header{
    background: #ffffff;
}
.header .top-header{
    padding: 27px 0;
}
.header .top-header .auth-controls .auth-controls-help{
    color: #e74c3c;
    margin-right: 4px;
}
.header .top-header .auth-controls .notification{
    margin-left: 30px;
    margin-right: 20px;
}
.header .top-header .notification-content .notification-item-icon a{
    color: #a0a0a0;
}
.header .top-header .notification-content .notification-item-icon a:hover{
    color: #263238;
}
.header .top-header .auth-controls .notification .notification-content{
    border-radius: 50%;
    background-color: #f5f5f5;
    width: 35px;
    height: 35px;
    position: relative;
}
.header .top-header .auth-controls .notification li + li{
    margin-left: 15px;
}
.notification .notification-content .number-notification{
    width: 15px;
    height: 15px;
    position: absolute;
    border-radius: 50%;
    top: -5px;
    right: -5px;
    text-align: center;
}
.notification .notification-content .number-notification span{
    font-size: 11px;
    color: #fff;
}
.header .top-header .auth-controls .user-controls{
    margin-right: 30px;
}
.header .top-header .auth-controls .user-controls .user-name{
    margin-left: 15px;
}
.header .top-header .auth-controls .user-controls .user-name .user-balance{
    color: #95c85a;
}
.header .bottom-header{
    padding: 25px 0;
    background-color: #263238; 
}
.header .bottom-header a{
    color: #fff;
}
.header .bottom-header a:hover{
    opacity: .8;
}
.header .bottom-header .menu-nav a + a{
    margin-left: 40px;
}

/* ===== HEADER END ===== */

/* ===== FOOTER END ===== */

.footer{
    margin-top: 100px;
    background: #263238;
}
.footer-content{
    padding-top: 115px;
    padding-bottom: 100px;
}
.footer-content a + a{
    margin-top: 25px;
}
.title-footer{
    font-weight: bold;
    font-size: 22px;
    color: #fff;
}
.title-footer .green-border{
    margin-bottom: 32px;
    margin-top: 28px;
    width: 51px;
    border-top: 3px solid #8bc34a;
}
.footer .contact-company{
    margin-top: 35px;
}
.footer .contact-company span{
    color: #fff;
}
.footer .contact-company .adress-company{
    margin-bottom: 25px;   
}
.footer .contact-company .adress-company span{
    line-height: 24px;
}
.default-text-footer{
    font-size: 15px;
    color: #b7c3c8;
}
.footer-content .nav-footer a + a{
    margin-top: 25px;
}
.footer .footer-content .col-lg-3:not(:last-child) i{
    margin-right: 15px;
    color: #8bc34a;
}
.footer .social-icon{
    margin-bottom: 40px;
}
.footer .social-icon a + a{
    margin-top: 0;
}
.footer .social-icon a:last-child {
    border-radius: 2px;
}
.footer .sign-up{
    font-size: 20px;
    color: #fff;
}
.footer .email-adresss-form{
    background-color: #2f3c43;
}
.footer .copyright{
    padding-top: 25px;
    padding-bottom: 35px; 
}

/* ===== FOOTER ===== */

/* ===== form ===== */

.inner-form{
    text-align: center;
}

.inner-form .inner-search{
    width: 670px;
    height: 56px;
    padding-left: 24px;
    color: #90a4ae;
    font-size: 14px;
    font-weight: 500;
    border: 0 solid transparent;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 10px 1px #74797c;
    box-shadow: 0 1px 10px 1px #74797c;
    outline-color: #74797c;
}
.upload-product .title{
    height: 63px;
    padding-left: 33px;
    background-color: #fff;
    border: 1px solid #d7d7d7;
    border-bottom: none;
}
.upload-product .form{
    background-color: #fff;
    padding-top: 43px;
    padding-bottom: 17px;
    border: 1px solid #d7d7d7;
}
.form-row{
    width: 100%;
    padding-left: 45px;
    padding-right: 48px;
    margin-bottom: 20px;
}
.upload-product .form-row .form-text{
    color: #444;
}
.form-row .form-text .form-star{
    font-size: 24px;
    color: #8bc34a;
}
.form-row .input{
    width: 900px;
    height: 40px;
    padding-left: 15px;
    background-color: #f9f9f9;
    border: 1px solid #acb0b3;
    font-size: 15px;
    color: #707070;
    outline-color: #acb0b3;
}
.form-row .input.textarea{
    height: 150px;
}
.form-row .input.file{
    padding-top: 7px;
}
.login{
    width: 730px;
    height: 485px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #8bc34a;
    display: none;
}
.login .close-button{
    padding: 20px 28px 0 0;
    font-size: 18px;
}
.login .title{
    font-size: 48px;
    margin-top: 57px;
    margin-bottom: 40px;
    letter-spacing: 0;
}
.login .login-input{
    width: 400px;
    height: 43px;
    position: relative;
}
.login .login-input + .login-input{
    margin-top: 8px;
}
.login .login-input input{
    width: 100%;
    height: 100%;
    padding-left: 40px;
    background-color: #638f3e;
    border: none;
}
input::-webkit-input-placeholder{
    color: #707070 !important;
}

input:-moz-placeholder{ /* Firefox 18- */
    color: #707070 !important;
}

input::-moz-placeholder{  /* Firefox 19+ */
    color: #707070 !important;
}

input:-ms-input-placeholder{
    color: #707070 !important;
}
.login-input .fa{
    position: absolute;
    top: 15px;
    left: 18px;
}
.login .btn-row{
    width: 400px;
    height: 50px;
    margin-top: 19px;
    margin-bottom: 25px;
}
.login .btn-row .login-submit{
    width: 140px;
    height: 100%;
}
.login .btn-row .btn{
    width: 250px;
    padding-left: 36px;
}
.login .btn-row .btn-default{
    background-color: #638f3e;
}
.login .btn-row .btn .fa{
    margin-right: 10px;
}
.login .lost-password{
    font-size: 18px;
}

/* ===== form end ===== */

/* ===== select ===== */

.jq-selectbox,
.jq-select-multiple {
	position: relative;
	display: inline-block;
}
.jq-selectbox select,
.jq-select-multiple select {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	opacity: 0;
}
.jq-selectbox li,
.jq-select-multiple li {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	white-space: nowrap;
}
.jq-selectbox {
	z-index: 10;
}
.jq-selectbox__select {
	position: relative;
}
.jq-selectbox__select-text {
	overflow: hidden;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.jq-selectbox__dropdown {
	position: absolute;
}
.jq-selectbox__search input {
	-webkit-appearance: textfield;
}
.jq-selectbox__search input::-webkit-search-cancel-button,
.jq-selectbox__search input::-webkit-search-decoration {
	-webkit-appearance: none;
}
.jq-selectbox__dropdown ul {
	position: relative;
	overflow: auto;
	overflow-x: hidden;
	list-style: none;
	-webkit-overflow-scrolling: touch;
}
.jq-selectbox {
	vertical-align: middle;
    cursor: pointer;
    width: 100%;
}
.jq-selectbox__select {
	height: 40px;
	padding: 0 40px 0 15px;
	border: 1px solid #dcdcdc;
	background-color: #f9f9f9;
    font-size: 14px;
    line-height: 39px;
	color: #707070;
}
.jq-selectbox.focused .jq-selectbox__select {
	border: 1px solid #212121;
}
.jq-selectbox.disabled .jq-selectbox__select {
	border-color: #CCC;
	background: #F5F5F5;
	-webkit-box-shadow: none;
	box-shadow: none;
	color: #888;
}
.jq-selectbox__select-text {
	display: block;
	width: 100%;
}
.jq-selectbox .placeholder {
	color: #888;
}
.jq-selectbox__trigger {
	position: absolute;
	top: 0;
	right: 0;
	width: 40px;
	height: 100%;
}
.jq-selectbox__trigger-arrow {
	position: absolute;
	top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
	width: 0;
	height: 0;
	border-top: 5px solid #444;
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
}
.jq-selectbox.disabled .jq-selectbox__trigger-arrow {
	border-top-color: #AAA;
}
.jq-selectbox__dropdown {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	margin: 2px 0 0;
	padding: 0;
	border: 1px solid #CCC;
	border-radius: 4px;
	background: #FFF;
	-webkit-box-shadow: 0 2px 10px rgba(0,0,0,.2);
	box-shadow: 0 2px 10px rgba(0,0,0,.2);
	font: 14px/18px Arial, sans-serif;
}
.jq-selectbox__search {
	margin: 5px;
}
.jq-selectbox__search input {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	margin: 0;
	padding: 5px 27px 6px 8px;
	border: 1px solid #CCC;
	border-radius: 3px;
	outline: none;
	background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAMCAYAAABiDJ37AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAO1JREFUeNqU078LAXEYx/FzYfNzk5TJaFNKYjFYSQZ/hvwBsvg1UCY2xT9gM8hukQGThWRjkcFw3pdnujhfT736Xn2fPvfc3fd07V0OFDDFAnM0ENYsZRiGLSc9OpqIYIA9fMhhjCrW2h9VlMlcH/aymMGtOqEugX08PwQucUZKdTozMIqdTc9WepQD7wjY9ARx+ydwhfyXfS+S0qMcOEQJGcueB3VccFINdMgal6NzkmPjRwJXxDBB7/2RDdtAp6wb+dpphHDASG5QQ0V6u2aoSqBZD/lDrNWRJynLK2qpBn4rc6K2XB9/Nb8EGABtf1thzY6X2AAAAABJRU5ErkJggg==') no-repeat 100% 50%;
	-webkit-box-shadow: inset 1px 1px #F1F1F1;
	box-shadow: inset 1px 1px #F1F1F1;
	color: #333;
}
.jq-selectbox__not-found {
	margin: 5px;
	padding: 5px 8px 6px;
	background: #F0F0F0;
	font-size: 13px;
}
.jq-selectbox ul {
	margin: 0;
	padding: 0;
}
.jq-selectbox li {
	min-height: 18px;
	padding: 5px 10px 6px;
	color: #231F20;
}
.jq-selectbox li.selected {
	background-color: #A3ABB1;
	color: #FFF;
}
.jq-selectbox li:hover {
	background-color: #08C;
	color: #FFF;
}
.jq-selectbox li.disabled {
	color: #AAA;
}
.jq-selectbox li.disabled:hover {
	background: none;
}
.jq-selectbox li.optgroup {
	font-weight: bold;
}
.jq-selectbox li.optgroup:hover {
	background: none;
	color: #231F20;
	cursor: default;
}
.jq-selectbox li.option {
	padding-left: 25px;
}

/* ====== select end ====== */

/* ===== table ===== */

.table{
    width: 100%;
    border-collapse: collapse;
}
.table th{
    text-align: left;
}
.table-sales .thead-fonts{
    font: 400 14px/1 'Roboto', sans-serif;
}
.table-sales .tbody-fonts{
    font: 400 14px/1 'Open Sans ', sans-serif;
}
.table tbody tr td:nth-child(3){
    font-weight: bold;
}
.table tbody tr + tr td{
    border-top: 1px solid#eee;
}
.table tbody tr:nth-child(even) td{
    background-color: #fbfbfb;
}
.table-sales thead th{
    background-color: #455a64;
    padding: 26px 0 24px 0;
}
.table-sales thead tr th:first-child{
    text-align: center;
} 
.table-sales tbody tr td{
    padding: 15px;
}
.table-sales tbody tr td:first-child{
    text-align: center;
}

/* ===== table end ===== */

/* ===== TAGS ===== */

.tags{
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;  
}
ul.tags li a{
    padding: 13px 26px;
    background: #fff;
    font-size: 14px;
    font-weight: 500;
    color: #263238;
}
ul.tags li + li{
    margin-left: 6px;
}
ul.tags > li.active > a,
ul.tags > li > a:hover,
ul.tags > li > a:focus{
    background: #e74c3c;
    color: #fff;
    -webkit-box-shadow: 0 2px 5px 0 rgba(202, 215, 228, 0.75);
    box-shadow: 0 2px 5px 0 rgba(202, 215, 228, 0.75);
}

/* ===== TAGS END ===== */

/* ===== text ===== */

.title{
    font-size: 36px;
    color: #263238;
    letter-spacing: 0;
}
.title.small-size-title{
    font-size: 20px;
}
.title.medium-size-title{
    font-size: 24px;
}
.text-regular{
    font-weight: 400;
}
.text-medium{
    font-weight: 500;
}
.text-bold{
    font-weight: 700;
}
.text-white{
    color: #fff;
}
.default-text{
    font-size: 15px;
    color: #707070;
    font-weight: 400;
}
.text-center{
    text-align: center;
}
/* ===== text end ===== */