/* ===== all items page ===== */

.sort-controls-container{
    padding: 20px;
}
/* ===== all items page ===== */

/* ===== product details page ===== */

.product-fuul-img{
    padding: 20px;
    background-color: #ffffff;
}

/* ===== product details page ===== */
.white-bg{
    background-color: #fff;

}
.border-grey{
    border: 1px solid #dedede;
}

/* ====== aside-section ==== */
.aside-section{
    background-color: #fff;
    border: 1px solid #dedede;
    padding: 23px 27px 23px;
}
.aside-section + .aside-section{
    margin-top: 30px;
}
.aside-section .aside-section-title{
    font-size: 20px;
    font-weight: 700;
    color:#263238;
    padding-bottom: 15px;
    border-bottom: 1px solid #dde3e8;
}