/* ========== card ========== */
.item{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.item .item-img{
    height: 100px;
    background-color: gray;
}
.item .item-description{
    height: 200px;
    background-color: lightblue;
}
