/* ===== DEFAULT SECTION START ===== */
.default-section{
    padding:100px 0;
}
.default-bigger-section{
    padding:120px 0;
}
.default-smaller-section{
    padding:80px 0;
}
/* ===== DEFAULT SECTION END ===== */