/* ========== icon ========== */
.icon{
    display: inline-block;
}
/* ========== icon end ========== */

/* ========== carusel-item ========== */

.item-carousel{
    width: 25%;
    margin: 10px; 
}
/* ========== carusel-item end ========== */