.table{
    width: 100%;
    border-collapse: collapse;
}
.table th{
    text-align: left;
}
.table-sales .thead-fonts{
    font: 400 14px/1 'Roboto', sans-serif;
}
.table-sales .tbody-fonts{
    font: 400 14px/1 'Open Sans ', sans-serif;
}
.table tbody tr td:nth-child(3){
    font-weight: bold;
}
.table tbody tr + tr td{
    border-top: 1px solid#eee;
}
.table tbody tr:nth-child(even) td{
    background-color: #fbfbfb;
}
.table-sales thead th{
    background-color: #455a64;
    padding: 26px 0 24px 0;
}
.table-sales thead tr th:first-child{
    text-align: center;
} 
.table-sales tbody tr td{
    padding: 15px;
}
.table-sales tbody tr td:first-child{
    text-align: center;
}
