.title{
    font-size: 36px;
    color: #263238;
    letter-spacing: 0;
}
.title.small-size-title{
    font-size: 20px;
}
.title.medium-size-title{
    font-size: 24px;
}
.text-regular{
    font-weight: 400;
}
.text-medium{
    font-weight: 500;
}
.text-bold{
    font-weight: 700;
}
.text-white{
    color: #fff;
}
.default-text{
    font-size: 15px;
    color: #707070;
    font-weight: 400;
}