/* ===== all items page ===== */

.sort-controls-container{
    padding: 20px;
}
/* ===== all items page ===== */

/* ===== product details page ===== */

.product-fuul-img{
    padding: 20px;
    background-color: #ffffff;
}

/* ===== product details page ===== */