/* ========== card ========== */
.item{
    flex-direction: column;
}
.item .item-img{
    height: 100px;
    background-color: gray;
}
.item .item-description{
    height: 200px;
    background-color: lightblue;
}
