.inner-form{
    text-align: center;
}

.inner-form .inner-search{
    width: 670px;
    height: 56px;
    padding-left: 24px;
    color: #90a4ae;
    font-size: 14px;
    font-weight: 500;
    border: 0 solid transparent;
    border-radius: 3px;
    box-shadow: 0 1px 10px 1px #74797c;
}
.form-row{
    width: 100%;
    padding-left: 45px;
    padding-right: 48px;
    margin-bottom: 20px;
}
.form-row .input{
    width: 900px;
    height: 40px;
    padding-left: 15px;
    border: 1px solid #acb0b3;
    font-size: 15px;
    color: #707070;
    vertical-align: center;
}
.form-row .input.textarea{
    height: 150px;
}
.form-row .input.file{
    padding-top: 7px;
}
.form-row .form-text{
}
.login{
    width: 730px;
    height: 485px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #8bc34a;
}
.login .close-button{
    padding: 20px 28px 0 0;
    font-size: 18px;
}
.login .title{
    font-size: 48px;
    margin-top: 57px;
    margin-bottom: 40px;
    letter-spacing: 0;
}
.login .login-input{
    width: 400px;
    height: 43px;
    position: relative;
}
.login .login-input + .login-input{
    margin-top: 8px;
}
.login .login-input input{
    width: 100%;
    height: 100%;
    padding-left: 40px;
    background-color: #638f3e;
    border: none;
}
input::-webkit-input-placeholder{
    color: #fff !important;
}

input:-moz-placeholder{ /* Firefox 18- */
    color: #fff !important;
}

input::-moz-placeholder{  /* Firefox 19+ */
    color: #fff !important;
}

input:-ms-input-placeholder{
    color: #fff !important;
}
.login-input .fa{
    position: absolute;
    top: 15px;
    left: 18px;
}
.login .btn-row{
    width: 400px;
    height: 50px;
    margin-top: 19px;
    margin-bottom: 25px;
}
.login .btn-row .login-submit{
    width: 140px;
    height: 100%;
}
.login .btn-row .btn{
    width: 250px;
    padding-left: 36px;
}
.login .btn-row .btn-default{
    background-color: #638f3e;
}
.login .btn-row .btn .fa{
    margin-right: 10px;
}
.login .lost-password{
    font-size: 18px;
}