body{
    padding: 25px 0;
}

/* ==== TAGS ==== */

.tags{
    justify-content: center;  
}
ul.tags li a{
    padding: 13px 26px;
    background: #fff;
    font-size: 14px;
    font-weight: 500;
    color: #263238;
}
ul.tags li + li{
    margin-left: 6px;
}
ul.tags li a:hover{
    background: #e74c3c;
    color: #fff;
    box-shadow: 0 2px 5px 0 rgba(202, 215, 228, 0.75);
}

/* ==== TAGS END ==== */